:root {
  /* Colors */

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);

  /* Typography */

  /* * Font Size * */

  --fs-p: 0.875rem;

  /* * Font Weights * */

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  color: var(--white);
  font-family: inter;
  letter-spacing: -0.7px;
  word-spacing: -0.7px;
}

#main {
  height: 100vh;
  width: 10%;
  display: grid;
  place-items: center;
  background-color: var(--grey-900);
}

.container {
  height: 75%;
  width: 22%;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 50px 20px 50px;
  gap: 20px;
  background-color: var(--grey-800);
}

.container img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.about h3 {
  font-size: calc(var(--fs-p) + 5px);
  font-weight: var(--fw-600);
  word-spacing: 2px;
  letter-spacing: 0.7px;
}
.about h4 {
  color: var(--green);
  font-size: 0.8rem;
  font-weight: var(--fw-600);
}
.about p {
  padding-top: 15px;
  font-size: 0.85rem;
  font-weight: var(--fw-400);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.link {
  background-color: var(--grey-700);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.link a {
  font-size: 0.75rem;
  font-weight: var(--fw-600);
  letter-spacing: 0.25px;
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.link a:hover {
  color: var(--grey-700);
}

.link:hover {
  background-color: var(--green);
}

@media (min-width: 370px) {
  #main {
    width: 100%;
    height: 100vh;
  }
  .container {
    width: fit-content;
    height: fit-content;
  }
}

.attribution {
  color: black;
  font-size: 0.7rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
